form {
  border: 5px solid #1f1f1f;
}


input[type=text], input[type=password] {
  width: 80%;
  padding: 20px 12px;
  margin: 8px 6px;
  display: inline-block;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

button {
  background-color: #04FFD6;
  color: blue;
  padding: 14px 20px;
  margin: 8px 0;
  border: outset;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.75;
}
.container {
  padding: 18px;
}


}
